@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
    url('../font/Roboto-Regular.ttf') format('truetype');
}

/*@font-face {*/
    /*font-family: 'Material Icons';*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*src: local('Material Icons'),*/
    /*url('../font/MaterialIcons-Regular.woff2') format('woff2'),*/
    /*url('../font/MaterialIcons-Regular.woff') format('woff'),*/
    /*url('../font/MaterialIcons-Regular.ttf') format('truetype');*/
/*}*/

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

#floor-plan {
    height: 90vh;
    width: 90vw;
}

.app-layout .app-header .mdl-textfield {
    padding: 0;
    margin-top: 41px;
}
.app-layout .app-header .mdl-textfield .mdl-textfield__expandable-holder {
    bottom: 19px;
}
.app-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}
.app-drawer {
    border: none;
}
/* iOS Safari specific workaround */
.app-drawer .mdl-menu__container {
    z-index: -1;
}
.app-drawer .app-navigation {
    z-index: -2;
}
/* END iOS Safari specific workaround */
.app-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.app-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 75px;
}

.app-navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.app-layout .app-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}
.app-layout .app-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}
.app-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.app-content .mdl-list__item-primary-content .material-icons,
.app-content .mdl-list__item-secondary-action .mdl-switch {
    margin-right: 32px;
}