extends layout

block content
    .mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-grid
        object(id='floor-plan', data='/img/floor-plan.svg', type='image/svg+xml')

        //h2 Floors
        //each floor in config.floors
        //    div(id='floor-' + floor.id) #{floor.name}
        //h2 Rooms
        //each room in config.rooms
        //    div(id='room-' + room.id) #{room.name}
        //h2 Lights
        //each room in config.rooms
        //    h3 #{room.name}
        //    each light in config.lights
        //        if light.roomID == room.id
        //            div(id='light-' + light.id) #{light.name}
        //object(id='floor-plan', data='/img/floor-plan.svg', type='image/svg+xml')