extends layout

block content
  each room in config.rooms
    each light in config.lights
      if light.roomID == room.id
        +lightControlCard(room.name + ' ' + light.name, light.colour, 'light_' + light.id, '/light/' + light.id)
